In [34]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_1.csv')
df.head(5)

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,331,유아,집
4,20211118102M05820,강동소방서,고열,20211019,12100,20211019,12322,무직,집

In [52]:
df['소요시간'] = (pd.to_datetime(df['출동일자'].astype('str') + df['출동시각'].astype('str').str.zfill(6)) - pd.to_datetime(df['신고일자'].astype('str') + df['신고시각'].astype('str').str.zfill(6))).dt.total_seconds()

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2762 entries, 0 to 2761
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   구급보고서번호   2762 non-null   object
 1   소방서명      2762 non-null   object
 2   환자증상구분명1  2762 non-null   object
 3   신고일자      2762 non-null   int64
 4   신고시각      2762 non-null   int64
 5   출동일자      2762 non-null   int64
 6   출동시각      2762 non-null   int64
 7   환자직업명     2762 non-null   object
 8   사고발생장소    2762 non-null   object
 9   소요시간      2762 non-null   float64
dtypes: float64(1), int64(4), object(5)
memory usage: 215.9+ KB

In [54]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_2.csv')
df.head(5)

               학교명  시도  학교세부유형  일반학급_학생수_계  교원수_총계_계
0  서울대학교사범대학부설고등학교  서울  일반고등학교         689        73
1           가락고등학교  서울  일반고등학교         765        70
2           개포고등학교  서울  일반고등학교         684        69
3           경기고등학교  서울  일반고등학교        1047        96
4           경동고등학교  서울  일반고등학교         529        58

In [59]:
# 1-2
target = df[df['학교세부유형'] == '일반중학교']
target_서울 = target[target['시도'] == target.groupby('시도').size().sort_values().index[-2]]
target_서울['ratio'] = target_서울['일반학급_학생수_계']/target_서울['교원수_총계_계']

C:\Users\user\AppData\Local\Temp\ipykernel_8236\2782546727.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target_서울['ratio'] = target_서울['일반학급_학생수_계']/target_서울['교원수_총계_계']

                학교명  시도 학교세부유형  일반학급_학생수_계  교원수_총계_계      ratio
386         금호여자중학교  서울  일반중학교          86        21   4.095238
453           경서중학교  서울  일반중학교         112        26   4.307692
256         정화여자중학교  서울  일반중학교         125        24   5.208333
438           동북중학교  서울  일반중학교         233        43   5.418605
398           환일중학교  서울  일반중학교         151        27   5.592593
..              ...  ..    ...         ...       ...        ...
441           배재중학교  서울  일반중학교         868        51  17.019608
532         진선여자중학교  서울  일반중학교         997        58  17.189655
444           한영중학교  서울  일반중학교         742        43  17.255814
524  단국대학교사범대학부속중학교  서울  일반중학교         606        33  18.363636
494           개포중학교  서울  일반중학교           0         0        NaN

[387 rows x 6 columns]

In [62]:
target_서울.sort_values('ratio',ascending=False).iloc[0,4]

33

In [63]:
# 1-3
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_3.csv')
df.head(5)

       범죄분류     절도     사기   배임   방화     폭행
0  2018년_1월  13280  25318  656  143  12186
1  2018년_2월  12504  19159  403  135  12087
2  2018년_3월  14733  24509  471  148  13841
3  2018년_4월  14781  23147  414  135  13973
4  2018년_5월  15988  23584  451  127  14117

In [73]:
# df['총범죄수'] = sum(df['절도'], df['사기']),df['배임'],df['방화'],df['폭행'])
df['총범죄수'] = df['절도'] + df['사기'] + df['배임'] + df['방화'] + df['폭행']
df['총범죄수']

0     51583
1     44288
2     53702
3     52450
4     54267
5     53670
6     56199
7     56150
8     54036
9     50815
10    50299
11    50331
12    54962
13    46334
14    58116
15    56368
16    60311
17    58636
18    59274
19    59436
20    56294
21    57454
22    52981
23    50312
Name: 총범죄수, dtype: int64

In [99]:
df['분기'] = [x+'_'+str(y) for x in ['2018','2019'] for y in range(1,5) for z in range(3)]

In [101]:
max_ = df.groupby(['분기'])['총범죄수'].mean().sort_values().index[-1] # '2019_02'

In [102]:
result = df[df.분기 ==max_].사기.max()
print(result)

27766

### 작업3유형

In [110]:
# 3-1
F = [550 * 0.74, 550 * 0.26]
M = [600 * 0.8, 600* 0.2]

df = pd.DataFrame({"F" : F, "M": M})

from scipy.stats import chi2_contingency
chi2_contingency(df)
# import scipy.stats 
# print(dir(scipy.stats))

# 귀무가설 기각 >> 독립이 아니다

Chi2ContingencyResult(statistic=5.521247671393307, pvalue=0.018786854975740765, dof=1, expected_freq=array([[424.2173913, 462.7826087],
       [125.7826087, 137.2173913]]))

In [123]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/28/p7.csv')
df.head()

   age  Cholesterol  weight
0   65         69.0   111.0
1   54        117.0    81.0
2   61         86.2    72.0
3   57         76.0    78.0
4   62        160.0    61.0

In [128]:
import statsmodels.api as sm
x = sm.add_constant(df[['age','Cholesterol']]) 
model = sm.OLS(df['weight'], x).fit()
model.summary()

# print(model.params['age'])

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 weight   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     7.574
Date:                Sat, 02 Dec 2023   Prob (F-statistic):           0.000608
Time:                        00:50:55   Log-Likelihood:                -1374.9
No. Observations:                 333   AIC:                             2756.
Df Residuals:                     330   BIC:                             2767.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          74.8953      4.455     16.813      0.000      66.132      83.658
age            -0.0361      0.059     -0.611      0.542      -0.152       0.080
Cholesterol     0.0819      0.022      3.716      0.000       0.039       0.125
==============================================================================
Omnibus:                       15.848   Durbin-Watson:                   2.033
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.569
Skew:                           0.471   Prob(JB):                     0.000153
Kurtosis:                       3.617   Cond. No.                         701.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [130]:
model.predict([1,55,72.6])

array([78.85771011])